<footer>
    <div class="f-info">
        <div class="social-handles">
            <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="brand-text">
            &#169;TravelGo Private Limited
        </div>
        <div class="terms">
            <a href="#">Privacy</a>
            <a href="#">Terms</a>
    </div>
    </footer>
</div>