<style>
  .search-btn{
    background-color: #FF385C;
    color: white;
    border-radius: 25px;
    transform: scale(0.9);
  }

  .search-btn:hover{
    background-color: #FF385C;
    color: white;
  }

  .search-icn{
    display: inline;
    margin-right: 0.5rem;
  }

  .search-inp{
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 25px;
    font-size: 0.9rem;
    width: 20rem;
  }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom border-tertiary sticky-top bg-white">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><i class="fa-regular fa-compass"></i>  TravelGo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/listings">All Listings</a>
        </div>
        <div class="ms-auto">
          <form class="d-flex" role="get" method="get" action="/listings?country=">
            <input class="form-control me-2 search-inp" type="search" placeholder="Search Destinations by Country" name="country">
            <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass search-icn"></i>Search</button>
          </form>
        </div>
        <div class="navbar-nav ms-auto">
          <a class="nav-link me-2" href="/listings/new">List Your Place</a>
          <% if(!currUser){ %>
            <a class="nav-link border-sm border-sm-danger rounded p-sm-2 me-2 fw-semibold" href="/signup">Signup</a>
            <a class="nav-link active border-sm border-sm-danger rounded p-sm-2 me-2 fw-semibold" href="/login">Login</a>
          <%}%>
          <% if(currUser) {%>
          <a class="nav-link border-sm border-danger rounded p-sm-2 me-2 fw-semibold" href="/logout">Logout</a>
          <form method="POST" action="/deleteUser?_method=DELETE">
            <button type="submit" class="btn btn-outline-danger userdlt">Delete Account</button>
          </form>
          <% } %>
        </div>
      </div>
    </div>
  </nav>