<% layout("./layouts/boilerplate.ejs") -%>
<body>
    <h1 class="offset-sm-2">Login</h1><br><br>
    <form method="POST" action="/login" novalidate class="needs-validation">
        <div class="row">
            <div class="col-md-8 offset-sm-2">
                <div class="mb-4">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter Username"  name="username" required>
                    <div class="invalid-feedback">Username Required!</div>
                  </div>
                  <div class="mb-4">
                      <label for="password" class="form-label">Password</label>
                      <input class="form-control" id="password" placeholder="Enter Password" type="password" name="password" required>
                      <div class="invalid-feedback">Password Required!</div>
                  </div>
                   
                <button class="btn btn-success border-0 mb-4" type="submit">Login</button>
            </div>
        
        </div>
    </form>
</body>